In [ ]:
#input output

x = input()

In [1]:
name = input("what is your name")
college = input("college name")
city = input("city name")

In [2]:
# As input function converts all the variables into string therefore we need to CAST  on the values
# Casting function converts string into any given data type

num1 = input('enter a num1')
num2 = input('enter a num2')
num1 = int(num1)
num2 = int(num2)
print(num1 + num2)

30

In [3]:
# Or one can cast directly , where bodmas rule applies. First the inner brackets are going to solve then the outer brackets will solve

n1 = int(input('enter a num'))
n2 = int(input('enter another num'))
print(n1*n2)

200

In [12]:
# there are 5 different ways to display output using PRINT()

x = 35
y = 20
z = x+y

In [13]:
print('the value of',x,'and',y,'is',z)

the value of 35 and 20 is 55

In [ ]:
# this method is used in programming language c
print(the value of,%d)

In [ ]:
# this method is used in java

In [ ]:
# before python 3.6 version

In [14]:
# after python 3.6 version ðŸŽ‡

print(f'value of {x} and {y} is {z}') # this is the most important one and the easiset one

value of 35 and 20 is 55

In [16]:
# by defalut in print function space is given if anyone wants to add something other than space then it 'sep' can be used

print(x,y,z,z,z,z,x,y,x,sep = ',')
print(x,y,z,z,z,z,x,y,x,sep = '_')

35,20,55,55,55,55,35,20,35
35_20_55_55_55_55_35_20_35

In [17]:
# by default if you use print in 3 different lines then it will print in three different line so to avoid that one can use 'end()' function

print('hello')
print('world', end = '_')
print('everyone')

hello
world_everyone

In [4]:
# slicing
a = 'Enchanted to meet you'
print(a[4:8])
print(a[10:18])
print(a[:5])

ante
to meet
Encha

In [8]:
#upper case
name = 'vidushi'

print(name.upper())

# lower case

x = name.upper()

y = x.lower()
print(y)

VIDUSHI
vidushi

In [9]:
# Strip

color = '    yellow blue'
print(color.strip())

yellow blue

In [10]:
# replace string

introduction = 'my name is jidushi'
print(introduction.replace('j','v'))

my name is vidushi

In [14]:
#concatention string
a = 'vidushi'
b = 'gupta'
c = a + " " +b
print(c)

vidushi gupta

In [17]:
# format string

quantity = 3
price = 50

txt = 'I bought {} kg rice today and they cost me ruppes {}'
print(txt.format(quantity,price))

I bought 3 kg rice today and they cost me ruppes 50