In [1]:
# for loop

x = 'PYTHON'
for i in x:
    print(i)

P
Y
T
H
O
N

In [7]:
story = 'once'

for char in story:
    print(char,end = ',')

o,n,c,e,

In [6]:
names = ['alice','bob','charlie','david','eve','frank']

for name in names:
    print(name,len(name))
    
    # if you want to print them horizantly instead of vertically , one can use end , check the above example

alice 5
bob 3
charlie 7
david 5
eve 3
frank 5

In [8]:
fruits = ['apple','banana','lemon']

for item in fruits:
    print(f'I have {item}')

I have apple
I have banana
I have lemon

In [10]:
# range is an itrreable in order to make your loop work for fixed length( like from start to end)
# range contains thrre steps 1st the start 2nd stop 3rd(optional) in order to give gap betwwen 2 consecutive numbers
# in range the values will stop at n-1 just like in slicing

for i in range(10,20,2):
    print('i got point',i)

i got point 10
i got point 12
i got point 14
i got point 16
i got point 18

In [11]:
for values in range(2,11):
    print('sheep',values)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [15]:
# for reverse loop we will use the range function and in that we will use negative to make the loop work in reverse order

for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [16]:
# pattern loop

for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [25]:
# WAP to calculate the sum of all numbers from 1 to 50

values = 0
for i in range(1,51):
     values = values+i
print(values)

1275

In [28]:
# wap to add all the numbers that are divisible by 3 ranging from 1 to 100

values = 0
for i in range(1,101):
    if(i%3==0):
        values = values + i
print(values)

1683

In [31]:
#or

total = 0
for i in range(3,100,3):
  total = total + i
print(total)

1683

In [34]:
# wap to calculate the average of all numbers from 1 to 100

total = 0
for i in range(1,100):
    total = total+i
print(total/99)

50.0