In [1]:
# for loop

x = 'PYTHON is'
for i in x:
    print(i)

P
Y
T
H
O
N

i
s

In [13]:
story = 'once'

for char in story:
    print(char,end = ',')

o,n,c,e,

In [14]:
names = ['alice','bob','charlie','david','eve','frank']

for name in names:
    print('Hi I am '+ name)
    
    # if you want to print them horizantly instead of vertically , one can use end , check the above example

Hi I am alice
Hi I am bob
Hi I am charlie
Hi I am david
Hi I am eve
Hi I am frank

In [15]:
fruits = ['apple','banana','lemon']

for item in fruits:
    print(f'I have {item}')

I have apple
I have banana
I have lemon

In [16]:
# range is an itrreable in order to make your loop work for fixed length( like from start to end)
# range contains thrre steps 1st the start 2nd stop 3rd(optional) in order to give gap betwwen 2 consecutive numbers
# in range the values will stop at n-1 just like in slicing

for i in range(10,20,2):
    print('i got point',i)

i got point 10
i got point 12
i got point 14
i got point 16
i got point 18

In [17]:
for values in range(2,11):
    print('sheep',values)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [18]:
# for reverse loop we will use the range function and in that we will use negative to make the loop work in reverse order

for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [19]:
# pattern loop

for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [20]:
# WAP to calculate the sum of all numbers from 1 to 50

values = 0
for i in range(1,51):
     values = values+i
print(values)

1275

In [28]:
# wap to add all the numbers that are divisible by 3 ranging from 1 to 100

values = 0
for i in range(1,101):
    if(i%3==0):
        values = values + i
print(values)

1683

In [31]:
#or

total = 0
for i in range(3,100,3):
  total = total + i
print(total)

1683

In [22]:
# wap to calculate the average of all numbers from 1 to 100

total = 0
for i in range(1,100):
    total = total+i
print(total/99)

50.0

In [8]:
# for loop is a step based loop where number of steps are defined but while loop works upon the condition, works till the condition becomes false 

x = 1
while x < 5:
    print('run')
    x = x+1  
print('stop')

run
run
run
run
stop

In [2]:
n = 10
sum = 0
i = 1

while(i<=n):
    sum = sum+i
    i = i+1
print('the sum is', sum)

the sum is 55

In [10]:
# break stops the loop while meeting upon the certain conditions 

data = [1,2,3,4,5,6,-1,7,8,9]

for val in data:
    if val < 0:
        break
    print(val)
print('stop')

1
2
3
4
5
6
stop

In [11]:
for i in range(1,100):
    print(i)
    if i%8 ==0:
        break

1
2
3
4
5
6
7
8

In [12]:
size = 100
start = 1

while(start<=size):
    name = input('enter a name of the product')
    if name =='end':
        break
    print(f'you entered {name}')
    start = start+2
print('the end')

you enteredlaptop
you enteredcharger
you enteredcharger
you enteredmouse
the end

In [ ]:
# now continue works if it matches the specific condition it will escape the code below and will directly move towards the start of loop

names = ['bob','david',]

In [13]:
story = ''
while True:   # while true means the loop will wirk for infinte times
    line = input('enter a line')
    if line == 'end':
        break
    else:
        story = story+line+'\n'
print('you have written')
print(story)

you have written
I met a boy
who has two pencils
I dont have any pencil
i asked to borrow the pencil
He refused
I find rude
and here the story ends

In [14]:
fruits = ['apple','bnana','mango']
for fruit in fruits:
    print('we have ',fruit)
else:
    print("that's all")

we have  apple
we have  bnana
we have  mango
that's all

In [3]:
number = int(input('enter a number'))
for i in range(2,number):
    if number % i ==0:
        print(f'{number} is not a prime number ')
        break
else:
    print(f'{number} is a prime number')

45366 is not a prime number

In [24]:
# WAP to add all the numbers of the digit using loop
# eg 1234 becomes 10 
# using while          


s = 0
num = int(input("enter a number"))
orignal = num
#1234
while(num != 0):
    div = num % 10
    s = s + div
    num =  num // 10
    
print('the sum of',orignal,'digits is', s)

the sum of 1234 digits is 10

In [25]:
# WAP to add all the numbers of the digit using loop
# eg 1234 becomes 10 
# using for     
 sum = 0
 
 number = input('enter a no.')
 
 for i in number:
     i = int(i)
     sum = sum + i
     
print(sum)

10

In [8]:
# enter a number and print thr reverse of it
# eg  output -> 1234 -->4321

i = 0

num = int(input("enter a number dude"))

while(num != 0):
    r = num % 10
    i = print(r,end = '')
    num = num // 10

4321

In [14]:
# enumerate is used to tell the index of the values present in the list

alphas=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

for i,name in enumerate(alphas):
    print(i,name)
    if i == 10:
        break

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j
10 k

In [1]:
#OR 

from string import ascii_lowercase
print(ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [9]:
# exaple 1(zip)
artist = ['bob','marley','taylor','swift']
songs = ['one love','exodus','style','willow']

for a in artist:
    print(a , songs)

# to write both the list together, taking items one by one , we use zip function 
# zip binds the items  together present at same index

bob ['one love', 'exodus', 'style', 'willow']
marley ['one love', 'exodus', 'style', 'willow']
taylor ['one love', 'exodus', 'style', 'willow']
swift ['one love', 'exodus', 'style', 'willow']

In [12]:
# example 2(zip)
artist = ['bob','marley','taylor','swift']
songs = ['one love','exodus','style','willow']

for a,s in zip (artist,songs):
    print(a , s,sep =',')

bob,one love
marley,exodus
taylor,style
swift,willow

In [4]:
fruits=['apple','banana','cherry','date','eggplant']
prices = [100.00,40.00,120.00,25.00]
qty = [12,15,100,50,3]
for fr,pr,qt in zip(fruits,prices,qty):
    
    print(f' {qt} {fr} costs {pr}')

 12 apple costs 100.0
 15 banana costs 40.0
 100 cherry costs 120.0
 50 date costs 25.0