In [ ]:
#SET{}
- contains unique value and not duplicate  -- returns unique values only
- set accept fixed values
- it dont store values in indexing form
- it dosent return values in sequesnce or particular order

In [1]:
my_set = {2,3,4,4,5,2}
print(my_set)

{2, 3, 4, 5}

In [3]:
mset = {1,2,3,3,(2,4,5)}

print(mset)

{1, 2, 3, (2, 4, 5)}

In [4]:
mset = {1,2,3,3,[2,4,5]}

print(mset)

TypeError: unhashable type: 'list'

In [5]:
frds = {'shyam','ram','sonu','monu'}

print(frds)

# dosent return in sequence

{'shyam', 'sonu', 'ram', 'monu'}

In [1]:
# in order to create empty set

# this syntax will create an empty dictionary and not empty set

a = {}
print(type(a))

# An empty set can be created using below syntax

b = set() # here we dont use culry braces cause it will refer it as dicitionary

print(type(b))

<class 'dict'>
<class 'set'>

In [7]:
my_set = {1,3}

print(my_set)

my_set.add(2) # .add is used to insert only single values at a time 
print(my_set)

{1, 3}
{1, 2, 3}

In [2]:
my_set.update([2,3,4]) # .update is used in order to insert multiple values

print(my_set)

NameError: name 'my_set' is not defined

In [9]:
# add list and set

my_set.update([4,5],{6,7,8})

print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
# remove()  gives an error and discard dosent gives an error

my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6, 7, 8}

In [13]:
my_set.remove(10)
print(my_set)

KeyError: 10

In [14]:
my_set.pop() # pops a random item

print(my_set)

{2, 3, 5, 6, 7, 8}

In [15]:
my_set.clear() #clears the set
print(my_set)

set()

In [18]:
# set is used to carry mathematical operations like union , intersection,difference and symmetric difference

a = {1,2,3,4,5}
b = {4,5,6,7,8}

a.union(b)

#OR

print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
a.intersection(b)

# OR

print(a & b)

{4, 5}

In [22]:
print(a - b) # returns unique value of a

# OR 
 
a.difference(b)

{1, 2, 3}

{1, 2, 3}

In [24]:
print(b - a) # returns unique values of b

b.difference(a)

{8, 6, 7}

{6, 7, 8}

In [25]:
# symmetric diff. returns the unique values of both the sets

print(a ^ b)

#OR

a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}

In [30]:
m = {'mobile','tablet','tv','laptop'}

v = {'heater','washing_machine','tv','mobile','chimney'}

m.union(v)

m.intersection(v)

m.difference(v)

v.difference(m)

m.symmetric_difference(v)

{'chimney', 'heater', 'laptop', 'tablet', 'washing_machine'}

In [5]:
h = set()
k = set()

y = 10

for i in range(y):
    l = input('enter data')
    h.add(l)
print('h =', h)
    
for i in range(y):
    a = input('enter data')
    k.add(a)
print('k =', k)

h = {'7', '9', '2', '8', '3', '4', '6', '5', '1'}
k = {'11', '13', '2', '12', '14', '3', '4', '15', '5', '1'}

In [6]:
h.intersection(k)

{'1', '2', '3', '4', '5'}

In [31]:
x = {1,2,3,4,5}

xl = list(x)

print(x,xl)

{1, 2, 3, 4, 5} [1, 2, 3, 4, 5]

In [32]:
x = {1,2,3,4,5}

xt = tuple(x)

print(x,xt)

{1, 2, 3, 4, 5} (1, 2, 3, 4, 5)

In [33]:
dx = [1,2,3,4,5,6,7,8,9]

ds = set(dx)

print(dx,ds)

[1, 2, 3, 4, 5, 6, 7, 8, 9] {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
# dictionary

info_dict = {
    'name' : 'Narendra' ,
    'subject' : 'AI',
    'age' : 40,
    'married' : True,
    'is_student' : False,
    'id' : 18
}

print(info_dict)

{'name': 'Narendra', 'subject': 'AI', 'age': 40, 'married': True, 'is_student': False, 'id': 18}

In [35]:
# retrieve

info_dict['name']

'Narendra'

In [40]:
print(info_dict.get('nams'))

None

In [39]:
my_dict = {
    'name' : 'jack',
    'age' : 26
}

print(my_dict.get('age'))

26

In [41]:
print(my_dict.get('address')) # returns none if data is not found

None

In [42]:
print(my_dict.get['address'])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [43]:
# update value

my_dict['age'] = 27

In [45]:
# add item
my_dict['address'] = 'downtown'

In [46]:
print(my_dict)

{'name': 'jack', 'age': 27, 'address': 'downtown'}

In [49]:
sq = {
    1 : 1,
    2 : 4,
    3 : 9,
    4 : 16,
    5 : 25
}

#.pop removes a particular item by giving key and retuen its value

print(sq.pop(5))

print(sq)

25
{1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
#.popitem remove the last key and values present in the dictionary

print(sq.popitem())

print(sq)

(4, 16)
{1: 1, 2: 4, 3: 9}

In [51]:
sq.clear()

In [ ]:
# clear removes all the items but del() is used to delete the whole variable from the memory